:root {
  line-height: 1.5;
  font-weight: 500;
  font-size: large;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Playfair Display', serif;
  margin: auto;
  display: flex;
  place-items: center;
}

/* nav */

.navbar-brand {
  font-size: 2em;
}

.dropdown-menu.show {
  border: none;
}

.menu-btn {
  border: none;
  background: none;
  font-size: 2em;
}

.bars {
  color: black;
  margin-right: 10px;
}

/* home */

.main-photo {
  background-image: url('/images/flower-waffles.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 50em;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 80em;
}

.photo-title {
  font-size: 4em;
}

.photo-body {
  font-size: 2em;
}

.homepage-btn {
  background-color: rgb(107, 93, 139);
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-top: 1em;
  width: 10em;
  padding: 10px;
  font-size: 2em;
}

.about {
  font-size: 25px;
  padding: 2em;
}

.all-btn {
  background-color: rgb(107, 93, 139);
  border: none;
  width: 10em;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 15px;
  font-size: 30px;
}

.image-container2 {
  background-image: url('/images/bruschetta1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 40em;
}

.overlay-content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 80em;
}

.recent-posts {
  border: none;
  box-shadow: 5px 5px 15px gray;
  margin: 25px;
}

.card-img {
  height: 28em;
  width: 41em;
  margin: auto;
  margin-top: 3em;
}

.card-title {
  font-size: 2em;
}

.title {
  font-size: 35px;
  padding: 5px;
}

.contact-form {
  margin: 1em;
}

.form-label {
  font-size: 25px;
}

.form-control {
  width: 50%;
  margin: auto;
}

.footer {
  background-color: rgb(146, 135, 172);
  color: white;
}

a {
  color: rgb(255, 255, 255);
}



@media (max-width: 500px) {




}