:root {
  line-height: 1.5;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Playfair Display', serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.menu-btn {
  border: none;
  background: none;
}

.bars {
  color: black;
  margin-right: 10px;
}

.image-container {
  position: relative;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 250px;
}

.homepage-btn {
  background-color: rgb(107, 93, 139);
  border: none;
  margin-top: 15px;
}

.rposts {
  border-bottom: 1px solid black;
}

.card {
  border: none;
}

.all-btn {
  background-color: rgb(107, 93, 139);
  border: none;
  width: 50%;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.image-container2 {
  position: relative;
}

.overlay-content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 300px;
}

a {
  color: black;
  text-decoration: none;
}

.footer {
  background-color: rgb(146, 135, 172);
  color: white;
  margin: 0;
  padding: 0;
}