/* General Styles */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}


#root {
  margin: 0;
  text-align: center;
  margin: 0;
}

:root {
  line-height: 1.5;
  font-weight: 500;
  font-size: large;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Playfair Display', serif;
  margin: auto;
  display: flex;
  place-items: center;
  flex-direction: column;
}

/* Navbar */
.navbar-brand {
  font-size: 2.5em;
}

.menu-btn {
  border: none;
  background: none;
  font-size: 2em;
  user-select: none;
  -webkit-user-select: none;
}

.menu-btn:hover {
  background: none;
}

.menu-btn:active {
  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

.menu-btn:focus {
  outline: none;
}

.bars {
  color: black;
  margin-right: 10px;
}

.dropdown-menu.show {
  border: none;
  margin-left: 15px;
}

.nav-link {
  margin-left: 5px;
}

/* hero image */
.main-photo {
  background-image: url('/images/flower-waffles.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 30em;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 80%;
}

.photo-title {
  font-size: 3.5em;
}

.photo-body {
  font-size: 2em;
}

.homepage-btn {
  background-color: rgb(107, 93, 139);
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-top: 1em;
  width: 100%;
  max-width: 10em;
  padding: 10px;
  font-size: 2em;
  text-decoration: none;
  
}

/* about paragraph */

.about{
padding: 20px;
font-size: x-large;
}

/* recent post cards */
.recent-posts {
  box-shadow: 5px 5px 15px gray;
  margin: 25px auto;
  width: 100%;
  max-width: 41em;
  height: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  margin: auto;
  margin-bottom: 10px;
}

.card-img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.recent-title {
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 0;
}

.card-title {
  font-size: 30px;
}

/* second hero image */

.image-container2 {
  background-image: url('/images/bruschetta1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 25em;
}

.hero2 {
  font-size: 3em;
}

.overlay-content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 80em;
}

/* contact form */
.msg {
  font-size: 2em;
  padding: 5px;
  text-align: center;
}

.contact-form {
  margin: 1em auto;
  padding: 1em;
  /* max-width: 800px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  width: 25em;
  max-width: 500px;
  margin: 0.5em;
}

/* every button but top hero */
.all-btn {
  background-color: rgb(107, 93, 139);
  border: none;
  width: 10em;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1.5em;
}

/* footer */

.footer {
  background-color: rgb(146, 135, 172);
  color: white;
  font-size: 1.5em;
}

a {
  color: rgb(255, 255, 255);
}


/* recipe card lists */

.recipe-card {
  box-shadow: 5px 5px 15px gray;
  margin: 20px auto;
  width: 100%;
  max-width: 25em;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-card-img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.recipe-card-title {
  font-size: 2.5em;
  text-align: center;
  margin-top: 15px;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.5em;
  }

  .menu-btn {
    font-size: 1.5em;
  }

  .main-photo {
    height: 20em;
  }

  .photo-title {
    font-size: 2em;
  }

  .photo-body {
    font-size: 1.5em;
  }

  .homepage-btn {
    font-size: 1.5em;
    width: 100%;
    max-width: 10em;
  }

  .about {
    font-size: 1em;
    padding: 1em;
  }

  .recent-posts {
    box-shadow: 5px 5px 15px gray;
    margin: 25px auto;
    width: 100%;
    max-width: 41em;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .row {
    margin: auto;
    margin-bottom: 10px;
  }

  .recent-title {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 0;
  }
  
  .card-img {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }

  .card-title {
    font-size: 1em;
  }

  .all-btn {
    font-size: 1em;
  }

  .image-container2 {
    height: 15em;
  }

  .hero2 {
    font-size: 2em;
  }

  .msg {
    font-size: 1.5em;
  }

  /* recipe card lists */

  .recipe-card {
    box-shadow: 5px 5px 15px gray;
    margin: 20px auto;
    width: 100%;
    max-width: 17em;
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .recipe-card-img {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }

  .recipe-card-title {
    font-size: 1.5em;
    text-align: center;
    margin-top: 8px;
  }
}

@media (max-width: 450px) {

  .navbar-brand {
    font-size: 1em;
    margin-left: 4em;
  }

  .menu-btn {
    font-size: 1em;
    margin-right: 4em;
  }

  .main-photo {
    height: 30em;
  }

  .photo-title {
    font-size: 2em;
  }

  .photo-body {
    font-size: 1.5em;
  }

  .homepage-btn {
    font-size: 1em;
    width: 100%;
    max-width: 10em;
  }

  .about {
    font-size: 14px;
    padding: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .recent-posts {
    box-shadow: 5px 5px 15px gray;
    margin: 25px auto;
    width: 100%;
    max-width: 20em;
    height: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .row {
    margin: auto;
    margin-bottom: 10px;
  }

  .recent-title {
    font-size: 1em;
    text-align: center;
    padding-bottom: 0;
  }
  
  .card-img {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }

  .card-title {
    font-size: 1em;
  }

  .all-btn {
    font-size: 14px;
  }

  .image-container2 {
    height: 15em;
  }

  .hero2 {
    font-size: 1em;
  }

  .msg {
    font-size: 1em;
    padding: 3px;
    text-align: center;
  }
  
  .contact-form {
    margin: 1em auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-label {
    font-size: 14px;
  }

  .footer {
    font-size: 1em;;
  }
}
